/.vscode/
/.idea/
/.DS_Store/

/easydarwin
/EasyDarwin.exe
/EasyDarwin.exe~

/logs/
/web_src/node_modules/
/www/

/*.log
/*.db
/*.db.bak
/*.zip
/*.tar.gz
/*.dev.ini
/*.dev.db
/*.ini

/Unnamed
/debug
/easydarwin_lin
/easydarwin_mac

